{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react"
  ],
  "globals": {
    "APP_SENTRY_DSN": true,
    "APP_GOOGLE_ANALYTICS": true
  },
  "rules": {
    "react/no-children-prop": "off",
    "no-console": "warn"
  }
}

